* {
    margin: 0;
    padding: 0;
    color: rgb(165, 168, 172);
    font-family: 'Raleway', sans-serif;

}
body{
    background-color: rgb(53, 41, 41);
    padding-left: 10%;
    padding-right: 10%;
}
h1{
    text-shadow: 5px, rgb(216, 199, 199);
    padding: 0.5em;
    background-color: rgba(69, 75, 49, 0.5);
}
h2{
    text-decoration-style: wavy;
    padding: 1em;
}
.logo{
    float:left;
    clear: both;
    position: fixed;
    height:75px
}
.profile{
    margin:auto;
    display: block;
    border-style: inset;
    border-color: #000;
    border-top-width: 0.6em;
    border-left-width: 0.6em;
    border-right-width: 0.6em;
    border-bottom-width: 1.2em;
}
h3{
    background-color: rgb(153, 37, 37);
    border-style: ridge, grey;
    padding:2em;
}
p{
background-color: rgb(53, 41, 41);
line-height: 25px;
padding-left:100px;
}
li{
background-color: rgb(153, 75, 63);
line-height: 25px;
margin: 0;
display: block;
padding:0.5em;
}